.div-container {
  margin: 20px;
}

.score {
  float: right;
}

.scorer-pts {
  margin-left: 5px;
}

.calendar-div {
  text-align: center;
  margin: 20px;
}

.loading {
  position: fixed;
  top: 40%;
  left: 40%;
}
